trigger:
  batch: true
  branches:
    include:
      - master
pr: none

pool:
    vmImage: "windows-latest"

steps:
- script: |
    npm run release
  displayName: "Build and Release"
  env:
    GITHUB_TOKEN: $(GH_TOKEN)
    MARKETPLACE_TOKEN: $(PAT_TOKEN)

# - task: DeleteFiles@1
#   inputs:
#     SourceFolder: '$(Build.SourcesDirectory)/dist'
#     Contents: '!(*.vsix)'

# - task: PublishBuildArtifacts@1
#   continueOnError: true
#   inputs:
#     PathtoPublish: ''
#     ArtifactName: 'drop'
#     publishLocation: 'Container'
